[data-name='contrib'] td:last-child a {
    margin-right: 5px;
    width: 32px;
    height: 32px;
}
[data-name='contrib'] td:last-child img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}